@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-h3QVZBJVf_mGs: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-h3QVZBJVf_mGs);
}

.plasmic_default_styles {
  --mixin-WWa-kQ2jZHg6E_font-family: "IBM Plex Sans";
  --mixin-WWa-kQ2jZHg6E_font-size: 14px;
  --mixin-WWa-kQ2jZHg6E_font-weight: normal;
  --mixin-WWa-kQ2jZHg6E_font-style: normal;
  --mixin-WWa-kQ2jZHg6E_color: rgb(222, 245, 239);
  --mixin-WWa-kQ2jZHg6E_text-align: left;
  --mixin-WWa-kQ2jZHg6E_text-transform: none;
  --mixin-WWa-kQ2jZHg6E_line-height: 1.5;
  --mixin-WWa-kQ2jZHg6E_letter-spacing: normal;
  --mixin-WWa-kQ2jZHg6E_white-space: pre-wrap;
  --mixin-WWa-kQ2jZHg6E_user-select: text;
  --mixin-llRsBC1GQE0SB_font-family: "Inter";
  --mixin-llRsBC1GQE0SB_color: #000000;
  --mixin-llRsBC1GQE0SB_font-size: 72px;
  --mixin-llRsBC1GQE0SB_font-weight: 900;
  --mixin-llRsBC1GQE0SB_letter-spacing: -4px;
  --mixin-llRsBC1GQE0SB_line-height: 1;
  --mixin-2iNmZjbgFkvds_font-family: "Inter";
  --mixin-2iNmZjbgFkvds_color: #000000;
  --mixin-2iNmZjbgFkvds_font-size: 48px;
  --mixin-2iNmZjbgFkvds_font-weight: 700;
  --mixin-2iNmZjbgFkvds_letter-spacing: -1px;
  --mixin-2iNmZjbgFkvds_line-height: 1.1;
  --mixin-TklPdnbUpXHvC_font-family: "Inter";
  --mixin-TklPdnbUpXHvC_color: #000000;
  --mixin-TklPdnbUpXHvC_font-size: 32px;
  --mixin-TklPdnbUpXHvC_font-weight: 600;
  --mixin-TklPdnbUpXHvC_letter-spacing: -0.8px;
  --mixin-TklPdnbUpXHvC_line-height: 1.2;
  --mixin-azpIsHZZFdKHZ_font-family: "Inter";
  --mixin-azpIsHZZFdKHZ_color: #000000;
  --mixin-azpIsHZZFdKHZ_font-size: 24px;
  --mixin-azpIsHZZFdKHZ_font-weight: 600;
  --mixin-azpIsHZZFdKHZ_letter-spacing: -0.5px;
  --mixin-azpIsHZZFdKHZ_line-height: 1.3;
  --mixin-JsqoPgCPZgi7h_font-family: "Inter";
  --mixin-JsqoPgCPZgi7h_color: #000000;
  --mixin-JsqoPgCPZgi7h_font-size: 20px;
  --mixin-JsqoPgCPZgi7h_font-weight: 600;
  --mixin-JsqoPgCPZgi7h_letter-spacing: -0.3px;
  --mixin-JsqoPgCPZgi7h_line-height: 1.5;
  --mixin-XNtUZmE_FnMJ8_font-family: "Inter";
  --mixin-XNtUZmE_FnMJ8_color: #000000;
  --mixin-XNtUZmE_FnMJ8_font-size: 16px;
  --mixin-XNtUZmE_FnMJ8_font-weight: 600;
  --mixin-XNtUZmE_FnMJ8_line-height: 1.5;
  --mixin-THcb8uDYkrbge_border-left-color: #dddddd;
  --mixin-THcb8uDYkrbge_border-left-style: solid;
  --mixin-THcb8uDYkrbge_border-left-width: 3px;
  --mixin-THcb8uDYkrbge_color: #888888;
  --mixin-THcb8uDYkrbge_padding-left: 10px;
  --mixin-rIn7fJpkAmIr8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rIn7fJpkAmIr8_border-bottom-color: #dddddd;
  --mixin-rIn7fJpkAmIr8_border-bottom-style: solid;
  --mixin-rIn7fJpkAmIr8_border-bottom-width: 1px;
  --mixin-rIn7fJpkAmIr8_border-left-color: #dddddd;
  --mixin-rIn7fJpkAmIr8_border-left-style: solid;
  --mixin-rIn7fJpkAmIr8_border-left-width: 1px;
  --mixin-rIn7fJpkAmIr8_border-right-color: #dddddd;
  --mixin-rIn7fJpkAmIr8_border-right-style: solid;
  --mixin-rIn7fJpkAmIr8_border-right-width: 1px;
  --mixin-rIn7fJpkAmIr8_border-top-color: #dddddd;
  --mixin-rIn7fJpkAmIr8_border-top-style: solid;
  --mixin-rIn7fJpkAmIr8_border-top-width: 1px;
  --mixin-rIn7fJpkAmIr8_border-bottom-left-radius: 3px;
  --mixin-rIn7fJpkAmIr8_border-bottom-right-radius: 3px;
  --mixin-rIn7fJpkAmIr8_border-top-left-radius: 3px;
  --mixin-rIn7fJpkAmIr8_border-top-right-radius: 3px;
  --mixin-rIn7fJpkAmIr8_font-family: "Inconsolata";
  --mixin-rIn7fJpkAmIr8_padding-bottom: 1px;
  --mixin-rIn7fJpkAmIr8_padding-left: 4px;
  --mixin-rIn7fJpkAmIr8_padding-right: 4px;
  --mixin-rIn7fJpkAmIr8_padding-top: 1px;
  --mixin-JA0axSwDHMxi2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JA0axSwDHMxi2_border-bottom-color: #dddddd;
  --mixin-JA0axSwDHMxi2_border-bottom-style: solid;
  --mixin-JA0axSwDHMxi2_border-bottom-width: 1px;
  --mixin-JA0axSwDHMxi2_border-left-color: #dddddd;
  --mixin-JA0axSwDHMxi2_border-left-style: solid;
  --mixin-JA0axSwDHMxi2_border-left-width: 1px;
  --mixin-JA0axSwDHMxi2_border-right-color: #dddddd;
  --mixin-JA0axSwDHMxi2_border-right-style: solid;
  --mixin-JA0axSwDHMxi2_border-right-width: 1px;
  --mixin-JA0axSwDHMxi2_border-top-color: #dddddd;
  --mixin-JA0axSwDHMxi2_border-top-style: solid;
  --mixin-JA0axSwDHMxi2_border-top-width: 1px;
  --mixin-JA0axSwDHMxi2_border-bottom-left-radius: 3px;
  --mixin-JA0axSwDHMxi2_border-bottom-right-radius: 3px;
  --mixin-JA0axSwDHMxi2_border-top-left-radius: 3px;
  --mixin-JA0axSwDHMxi2_border-top-right-radius: 3px;
  --mixin-JA0axSwDHMxi2_font-family: "Inconsolata";
  --mixin-JA0axSwDHMxi2_padding-bottom: 3px;
  --mixin-JA0axSwDHMxi2_padding-left: 6px;
  --mixin-JA0axSwDHMxi2_padding-right: 6px;
  --mixin-JA0axSwDHMxi2_padding-top: 3px;
  --mixin-xkBLqXlfjBXYj_display: flex;
  --mixin-xkBLqXlfjBXYj_flex-direction: column;
  --mixin-xkBLqXlfjBXYj_align-items: stretch;
  --mixin-xkBLqXlfjBXYj_justify-content: flex-start;
  --mixin-xkBLqXlfjBXYj_list-style-position: outside;
  --mixin-xkBLqXlfjBXYj_padding-left: 40px;
  --mixin-xkBLqXlfjBXYj_position: relative;
  --mixin-xkBLqXlfjBXYj_list-style-type: decimal;
  --mixin-zTDjhZamTqZge_display: flex;
  --mixin-zTDjhZamTqZge_flex-direction: column;
  --mixin-zTDjhZamTqZge_align-items: stretch;
  --mixin-zTDjhZamTqZge_justify-content: flex-start;
  --mixin-zTDjhZamTqZge_list-style-position: outside;
  --mixin-zTDjhZamTqZge_padding-left: 40px;
  --mixin-zTDjhZamTqZge_position: relative;
  --mixin-zTDjhZamTqZge_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-WWa-kQ2jZHg6E_font-family);
  font-size: var(--mixin-WWa-kQ2jZHg6E_font-size);
  font-weight: var(--mixin-WWa-kQ2jZHg6E_font-weight);
  font-style: var(--mixin-WWa-kQ2jZHg6E_font-style);
  color: var(--mixin-WWa-kQ2jZHg6E_color);
  text-align: var(--mixin-WWa-kQ2jZHg6E_text-align);
  text-transform: var(--mixin-WWa-kQ2jZHg6E_text-transform);
  line-height: var(--mixin-WWa-kQ2jZHg6E_line-height);
  letter-spacing: var(--mixin-WWa-kQ2jZHg6E_letter-spacing);
  white-space: var(--mixin-WWa-kQ2jZHg6E_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-llRsBC1GQE0SB_font-family);
  color: var(--mixin-llRsBC1GQE0SB_color);
  font-size: var(--mixin-llRsBC1GQE0SB_font-size);
  font-weight: var(--mixin-llRsBC1GQE0SB_font-weight);
  letter-spacing: var(--mixin-llRsBC1GQE0SB_letter-spacing);
  line-height: var(--mixin-llRsBC1GQE0SB_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-2iNmZjbgFkvds_font-family);
  color: var(--mixin-2iNmZjbgFkvds_color);
  font-size: var(--mixin-2iNmZjbgFkvds_font-size);
  font-weight: var(--mixin-2iNmZjbgFkvds_font-weight);
  letter-spacing: var(--mixin-2iNmZjbgFkvds_letter-spacing);
  line-height: var(--mixin-2iNmZjbgFkvds_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-TklPdnbUpXHvC_font-family);
  color: var(--mixin-TklPdnbUpXHvC_color);
  font-size: var(--mixin-TklPdnbUpXHvC_font-size);
  font-weight: var(--mixin-TklPdnbUpXHvC_font-weight);
  letter-spacing: var(--mixin-TklPdnbUpXHvC_letter-spacing);
  line-height: var(--mixin-TklPdnbUpXHvC_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-azpIsHZZFdKHZ_font-family);
  color: var(--mixin-azpIsHZZFdKHZ_color);
  font-size: var(--mixin-azpIsHZZFdKHZ_font-size);
  font-weight: var(--mixin-azpIsHZZFdKHZ_font-weight);
  letter-spacing: var(--mixin-azpIsHZZFdKHZ_letter-spacing);
  line-height: var(--mixin-azpIsHZZFdKHZ_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-JsqoPgCPZgi7h_font-family);
  color: var(--mixin-JsqoPgCPZgi7h_color);
  font-size: var(--mixin-JsqoPgCPZgi7h_font-size);
  font-weight: var(--mixin-JsqoPgCPZgi7h_font-weight);
  letter-spacing: var(--mixin-JsqoPgCPZgi7h_letter-spacing);
  line-height: var(--mixin-JsqoPgCPZgi7h_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-XNtUZmE_FnMJ8_font-family);
  color: var(--mixin-XNtUZmE_FnMJ8_color);
  font-size: var(--mixin-XNtUZmE_FnMJ8_font-size);
  font-weight: var(--mixin-XNtUZmE_FnMJ8_font-weight);
  line-height: var(--mixin-XNtUZmE_FnMJ8_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-THcb8uDYkrbge_color);
  padding-left: var(--mixin-THcb8uDYkrbge_padding-left);
  border-left: var(--mixin-THcb8uDYkrbge_border-left-width)
    var(--mixin-THcb8uDYkrbge_border-left-style)
    var(--mixin-THcb8uDYkrbge_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-rIn7fJpkAmIr8_background);
  font-family: var(--mixin-rIn7fJpkAmIr8_font-family);
  border-radius: var(--mixin-rIn7fJpkAmIr8_border-top-left-radius)
    var(--mixin-rIn7fJpkAmIr8_border-top-right-radius)
    var(--mixin-rIn7fJpkAmIr8_border-bottom-right-radius)
    var(--mixin-rIn7fJpkAmIr8_border-bottom-left-radius);
  padding: var(--mixin-rIn7fJpkAmIr8_padding-top)
    var(--mixin-rIn7fJpkAmIr8_padding-right)
    var(--mixin-rIn7fJpkAmIr8_padding-bottom)
    var(--mixin-rIn7fJpkAmIr8_padding-left);
  border-top: var(--mixin-rIn7fJpkAmIr8_border-top-width)
    var(--mixin-rIn7fJpkAmIr8_border-top-style)
    var(--mixin-rIn7fJpkAmIr8_border-top-color);
  border-right: var(--mixin-rIn7fJpkAmIr8_border-right-width)
    var(--mixin-rIn7fJpkAmIr8_border-right-style)
    var(--mixin-rIn7fJpkAmIr8_border-right-color);
  border-bottom: var(--mixin-rIn7fJpkAmIr8_border-bottom-width)
    var(--mixin-rIn7fJpkAmIr8_border-bottom-style)
    var(--mixin-rIn7fJpkAmIr8_border-bottom-color);
  border-left: var(--mixin-rIn7fJpkAmIr8_border-left-width)
    var(--mixin-rIn7fJpkAmIr8_border-left-style)
    var(--mixin-rIn7fJpkAmIr8_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-JA0axSwDHMxi2_background);
  font-family: var(--mixin-JA0axSwDHMxi2_font-family);
  border-radius: var(--mixin-JA0axSwDHMxi2_border-top-left-radius)
    var(--mixin-JA0axSwDHMxi2_border-top-right-radius)
    var(--mixin-JA0axSwDHMxi2_border-bottom-right-radius)
    var(--mixin-JA0axSwDHMxi2_border-bottom-left-radius);
  padding: var(--mixin-JA0axSwDHMxi2_padding-top)
    var(--mixin-JA0axSwDHMxi2_padding-right)
    var(--mixin-JA0axSwDHMxi2_padding-bottom)
    var(--mixin-JA0axSwDHMxi2_padding-left);
  border-top: var(--mixin-JA0axSwDHMxi2_border-top-width)
    var(--mixin-JA0axSwDHMxi2_border-top-style)
    var(--mixin-JA0axSwDHMxi2_border-top-color);
  border-right: var(--mixin-JA0axSwDHMxi2_border-right-width)
    var(--mixin-JA0axSwDHMxi2_border-right-style)
    var(--mixin-JA0axSwDHMxi2_border-right-color);
  border-bottom: var(--mixin-JA0axSwDHMxi2_border-bottom-width)
    var(--mixin-JA0axSwDHMxi2_border-bottom-style)
    var(--mixin-JA0axSwDHMxi2_border-bottom-color);
  border-left: var(--mixin-JA0axSwDHMxi2_border-left-width)
    var(--mixin-JA0axSwDHMxi2_border-left-style)
    var(--mixin-JA0axSwDHMxi2_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-xkBLqXlfjBXYj_display);
  flex-direction: var(--mixin-xkBLqXlfjBXYj_flex-direction);
  align-items: var(--mixin-xkBLqXlfjBXYj_align-items);
  justify-content: var(--mixin-xkBLqXlfjBXYj_justify-content);
  list-style-position: var(--mixin-xkBLqXlfjBXYj_list-style-position);
  padding-left: var(--mixin-xkBLqXlfjBXYj_padding-left);
  position: var(--mixin-xkBLqXlfjBXYj_position);
  list-style-type: var(--mixin-xkBLqXlfjBXYj_list-style-type);
  flex-column-gap: var(--mixin-xkBLqXlfjBXYj_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-zTDjhZamTqZge_display);
  flex-direction: var(--mixin-zTDjhZamTqZge_flex-direction);
  align-items: var(--mixin-zTDjhZamTqZge_align-items);
  justify-content: var(--mixin-zTDjhZamTqZge_justify-content);
  list-style-position: var(--mixin-zTDjhZamTqZge_list-style-position);
  padding-left: var(--mixin-zTDjhZamTqZge_padding-left);
  position: var(--mixin-zTDjhZamTqZge_position);
  list-style-type: var(--mixin-zTDjhZamTqZge_list-style-type);
  flex-column-gap: var(--mixin-zTDjhZamTqZge_flex-column-gap);
}
