.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#00000080, #00000080),
    url("/plasmic/minimalist_about_me_page/images/staticGgif.gif") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    padding: 64px 20px;
  }
}
.freeBox__wTIiU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 980px;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.selection {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 100px;
}
.selection > picture > img {
  object-fit: cover;
}
.selection > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wtxlQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__hv4Er {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
